
.topmenu {
    background-color: black;
    
}

/* .topmenu:hover {
    animation-name: fadimport SearchButton from '../component/SearchButton'e-in;
} */

.brand {
    color: whitesmoke;
}

.link{
    color: whitesmoke;
}


.link:hover {
    color: dimgrey;
}

.phone {
    color: whitesmoke;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.authentication {
    display: flex;

}


.icon-cart {
    color:white;
    width: 20pt;
    height: 20pt;
}